.box{

    margin: 20%;
    margin-left: 35%;
    width : 20%;
    height : 10%;
    background-color : rgb(52, 44, 82);
    box-shadow: 3px 6px 9px black; 
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 7%;
    font-family: "Candara";
    color: white;
    transition: 0.7s;
    

}

.box:hover{

    box-shadow: 6px 12px 18px black;

}

    input{


        width : 65%;
        height : 20%;
        border-radius: 8px;
        padding : 4px;
        box-shadow: 2px 4px 8px black;
        
    }

    .button{


        width : 20%;
        height : 10%;
        border-radius: 8px;
        padding: 3px;
        margin-left: 23%;
        background-color: rgb(17, 124, 13); 
        font-family: "Candara";
        padding: 4px;
        color: white;
        margin-top: 10px;
        box-shadow: 2px 4px 8px black;
        transition: 0.7s;
        border: none;
        
    }

    .button:hover{


        cursor: pointer;
        background-color: rgb(174, 243, 171); 
        color: black;
        box-shadow: 4px 8px 16px black;
        


    }

